{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the contact page</h1>
                <p> This is the paragraph on the contact page, it's just a test.This is the paragraph on the contact page, it's just a test.
                    This is the paragraph on the contact page, it's just a test.This is the paragraph on the contact page, it's just a test.
                    This is the paragraph on the contact page, it's just a test.This is the paragraph on the contact page, it's just a test.
                    This is the paragraph on the contact page, it's just a test.This is the paragraph on the contact page, it's just a test.
                    This is the paragraph on the contact page, it's just a test.This is the paragraph on the contact page, it's just a test.
                    </p>
            </div>
        </div>
    </div>
{{end}}
